.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  padding: 1rem 2rem;
  color: white;
  position: relative;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar__brand a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar__links a {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar__links a:hover {
  color: #f1c40f;
}


.hamburger {
  position: absolute;
  font-size: 1.8rem;
  color: #e0c67a;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  right: 0px;
  top: 5px;
}

.navbar__search {
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  margin-left: 1rem;
}


/* Links */
.navbar__links {
  display: flex;
  gap: 1.2rem;
}

.navbar__links a {
  color: #f5f5f5;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar__links a:hover {
  color: #e0c67a;
}

/* Responsive */
@media (max-width: 768px) {

  .hamburger {
    display: inline;
  }

  .navbar__links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }

  .navbar__links.open {
    display: flex;
  }

  .navbar__links a {
    padding: 0.5rem 0;
    border-top: 1px solid #333;
  }
}



